.tr-warning{
	background-color: rgba(255, 0, 0, 0.3);
}

.tr-locked{
	background-color: rgba(64, 64, 64, 0.5);
}

.tr-head{
	background-color: rgb(206, 74, 39);
	color: #fff;
	text-align: center;
}

#div-total-venta{
	background-color: rgb(206, 74, 39);
	color: #fff;
}

#table-venta{
	margin-top: 1%;
	margin-left: 1.4%;
	width: 97.5% !important;
}
.info-total-venta{
	font-size: 1.1em;
}

.no-venta{
	display: none;
}

.tr-info-venta th{
	text-align: right;
	padding: 2px !important;
}

.tr-info-venta td{
	text-align: center;
	padding: 2px !important
}

#input-retefuente{
	cursor: pointer;
}

#terminar-venta,#cancelar-venta,#valor-descuento{
	display: none;
}

.mb{
	margin-bottom: 5px;
}
#total-venta{
	font-weight: bold;
	font-size: 1.3em;
}

#content-cambio{
	background-color: #51C24D;
	color: #fff;
}

#cambio {
   top: 25%;
   overflow: auto;
   overflow-y: auto;
}

